<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="loki_components_repository_dispatch">
        <observer
            name="Loki_Debugger::debugRepository"
            instance="Loki\Debugger\Observer\DebugRepository"/>
    </event>

    <event name="loki_components_blocks">
        <observer
            name="Loki_Debugger::debugBlocks"
            instance="Loki\Debugger\Observer\DebugBlocks"/>
    </event>
</config>
